
.certificate {
    background-color: aquamarine;
}
.detailCourse {
    background-color: bisque;
}
.detailParticipant {
    background-color: blueviolet;
}
.detailParticipantProject {
    background-color: chocolate;
}