// @use postcss-nested;
// @use postcss-simple-vars;

$base-unit: 11px;
$indicator-speed: 0.2s;

.ns-TabsModule {
  width: 100%;
  text-align: center;
}

.ns-TabNav {
  position: relative;
  /* wipe out any unwanted whitespace around inline elements */
  font-size: 0;
}

.ns-TabNav_Link {
  display: inline-block;
  margin: 0 $base-unit;
  text-decoration: none;
  font-size: 12px;
  line-height: calc($base-unit * 4);
  color: #bbb;
  text-transform: uppercase;
  span {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 1px;
    pointer-events: none;
  }
}

.ns-TabNav_Indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: indianred;
  transition-property: transform, left, background-color;
  transition-duration: $indicator-speed;
  transform-origin: 0;
  transform: translate3d(0, 0, 0) scaleX(0);
  opacity: 0;
  animation: fadeMeIn $indicator-speed forwards;
  animation-delay: $indicator-speed;
}

.ns-TabPanel {
  padding: 40px;
  font-size: 11px;
  color: #505050;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: none;
}

@keyframes fadeMeIn {
  to {
    opacity: 1;
  }
}

/* prettify */

body {
  box-sizing: border-box;
  // background: #222;
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ns-ScrollWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  box-shadow: inset 0 -2px 0 0 #404040;
  &::-webkit-scrollbar {
    display: none;
  }
}

/** 
* indicator color for each tab should you need,
* could attach data-color attribute to tab link instead, JS maybe 
* performance should dictate what to do
*/
/*
.ns-TabNav_Indicator {
  [data-active-tab="B"] & { background-color: black; }
  [data-active-tab="C"] & { background-color: mediumaquamarine; }
  [data-active-tab="D"] & { background-color: slateblue; }
  [data-active-tab="E"] & { background-color: coral; }
  [data-active-tab="F"] & { background-color: indianred; }
  [data-active-tab="G"] & { background-color: $color-white; }
}
*/
